/* start globle rule*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
:root {
  --main-color: #023e8a;
  --main-colorP: #fff;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-colorHeding: rgb(92, 124, 160);
}
body {
  font-family: "Work Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.icon-font {
  position: fixed;
  bottom: 20px;
  right: 21px;
  background-color: var(--main-color);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: 0.3;
  display: none;
  cursor: pointer;
}
.show {
  display: block;
  z-index: 54510;
}
.icon-font i {
  animation: up-down 0.5s linear 0.7s infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(-7px);
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end globle rule*/
/* Start Setting Box */
.setting-box {
  position: fixed;
  z-index: 10000;
  left: -200px;
  top: 0;
  background-color: white;
  width: 200px;
  min-height: 100vh;
  transition: 1s;
}
.setting-box.open {
  left: 0;
  transition: 1s;
}
.setting-box .toggle-cont {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.setting-box .setting {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.setting-box .setting-container .option-box {
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 70%);
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
.setting-box .setting-container .option-box h4 {
  margin: 0;
  font-size: 13px;
  color: #666;
}
.setting-box .setting-container .option-box .colors-list {
  padding: 0;
  text-align: center;
}
.setting-box .setting-container .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  border: 1px solid transparent;
}
.setting-box .setting-container .option-box .colors-list li.activee {
  color: var(--main-Color);
  opacity: 1;
  border-color: white;
}
.setting-box .setting-container .option-box .colors-list li:first-child {
  background-color: #f44336;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(3) {
  background-color: #9c27b0;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(4) {
  background-color: #673ab7;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(5) {
  background-color: #3f51b5;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(6) {
  background-color: #03a9f4;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(7) {
  background-color: #00bcd4;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(8) {
  background-color: #009688;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(9) {
  background-color: #4caf50;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(10) {
  background-color: #8bc34a;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(11) {
  background-color: #cddc39;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(12) {
  background-color: #ffc107;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(13) {
  background-color: #ff9800;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(14) {
  background-color: #ff5722;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(15) {
  background-color: #795548;
}
.setting-box .setting-container .option-box .colors-list li:nth-child(16) {
  background-color: #9e9e9e;
}
.setting-box .setting-container .option-box .colors-list li:last-child {
  background-color: #607d8b;
}
.setting-box .option-box .yes,
.setting-box .option-box .no {
  padding: 4px 10px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  font-size: 12px;
  border-radius: 15px;
  background-color: var(--main-Color);
  display: inline-block;
  width: 70px;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .option-box .random-backgrounds span.active {
  opacity: 1;
}
/* End Setting Box */
/* Start Navbar */
.navbar {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  width: 100%;
}
.changes {
  background-color: rgba(0 0 0 /0.6);
  transition: 0.5s;
  box-shadow: 0 2px 4px rgba(0 0 0 / 50%);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .navbar .container {
    flex-direction: column;
  }
}
.navbar .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container .logo h3 {
  padding: 10px;
  color: white;
}
.navbar .container .logo img {
  height: 50px;
}
@media (max-width: 767px) {
  .navbar .container .logo {
    flex: 1;
  }
}
.navbar .container .links {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}
@media (max-width: 767px) {
  .navbar .container .links {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.navbar .container .links li {
  display: block;
  width: fit-content;
}
.navbar .container .links li:not(:last-child) {
  padding-right: 50px;
}
.navbar .container .links li a {
  color: var(--main-colorP);
}
.navbar .container .links li a.active {
  color: var(--main-color);
  font-weight: bold;
}
/* End Navbar */
/* Start Landing  */
.landing {
  height: 100vh;
  position: relative;
  background-image: url(../image/article.jpg);
  background-size: cover;
}
.landing .container {
  position: relative;
  height: 100%;
}
.landing .container .content {
  max-width: 550px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .container .content .text {
  padding: 10px;
  margin: 10px;
}
.landing .container .content .text h1 {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 5px;
}
.landing .container .content .text p {
  font-size: 12px;
  line-height: 1.6;
  color: var(--main-colorP);
}
.landing .container .content .text .buttom {
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.landing .container .content .text .buttom button {
  padding: 8px 30px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
/* End Landing  */
.special-heading {
  color: var(--main-colorHeding);
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
  position: relative;
}
.special-heading::after {
  content: "";
  background-color: tomato;
  width: 40%;
  height: 1px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: 0.3s;
}
.special-heading:hover::after {
  width: calc(100% - 50%);
}
.special-heading + p {
  margin: 20px auto;
  font-size: 13px;
  text-align: center;
  padding: 10px 20px;
  max-width: 750px;
  line-height: 1.6;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.special-heading + p:hover {
  width: fit-content;
  transition: 0.3s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* end Components */
/* start about */

.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) +60px);
  margin-top: 50px;
}
.about .about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.about .container span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
@media (max-width: 991px) {
  .about .about-container {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-container .about-image {
  width: 350px;
  height: 300px;
}
@media (max-width: 991px) {
  .about .about-container .about-image {
    margin: 50px auto;
  }
}
.about .about-container .about-content h3 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}
.about .about-container .about-content p {
  color: #777;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.about .about-container .about-content button {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.about .about-container .about-content button:hover {
  background-color: rgb(201, 201, 236);
  transition: 0.3s;
}
.about .about-container .about-image {
  display: flex;
  align-items: center;
}
.about .about-container .about-image img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var();
  -moz-transition: var();
  -ms-transition: var();
  -o-transition: var();
}
.about .about-container .about-image:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.about .about-container .about-content {
  flex-basis: calc(100% - 600px);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.about .about-container .about-content:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* end about */
/* Start Progress */
.one {
  padding: 50px 0;
  position: relative;
  background-color: rgba(245, 245, 245, 0.733);
  height: 100vh;
}
.one .special-heading {
  margin-bottom: 30px;
}
.one .container {
  position: relative;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one .skillss {
  padding: 10px;
  margin: 10px;
  position: relative;
}
.one .skillss h3 {
  margin: 10px;
}
.one .skillss .progress {
  position: relative;
  width: 650px;
  height: 30px;
  background-color: #fff;
  margin: 10px;
}
.one .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.3s linear;
}
/* End Progress */

/* start team section */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.team .team-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.team .team-box .box {
  text-align: center;
}
.team .team-box .box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
}
.team .team-box .box .box-text {
  text-align: center;
  margin-top: 10px;
}
.team .team-box .box .box-text h4 {
  font-size: 20px;
  color: #777;
  line-height: 1.8;
}
.team .team-box .box .box-text span {
  line-height: 1.8;
}
.team .team-box .box .box-text .box-icon {
  display: flex;
  justify-content: center;
}
.team .team-box .box .box-text .box-icon i {
  transition: 0.5s;
  font-size: 18px;
  color: #777777;
  width: 40px;
  height: 40px;
  border: 1px solid #777;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  cursor: pointer;
}
.team .team-box .box .box-text .box-icon i:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* end team section */
/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../image/vector-abstract-science-futuristic-energy-260nw-1215643816.jpga.jpg);
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255 / 95%);
}
.stats .container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: 0.5s;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  bottom: 0;
  left: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
/* start portfolio section */
.portfolio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.portfolio .special-heading {
  color: var(--main-colorHeding);
}
.portfolio .portfolio-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;

}
.portfolio .portfolio-box .box .box-imag {
  position: relative;
  max-width: 100%;
  
}
.portfolio .portfolio-box .box .box-imag img {
  width: 100%;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  
}

.portfolio .portfolio-box .box .box-text {
  max-width: 300px;
  margin-top: 15px;
}
.portfolio .portfolio-box .box .box-text span {
  display: block;
  margin-bottom: 5px;
}
.portfolio .portfolio-box .box .box-text h4 {
  position: relative;
  margin-bottom: 20px;
}
.portfolio .portfolio-box .box .box-text h4::before {
  content: "";
  background-color: tomato;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: 0.5s;
}
.portfolio .portfolio-box .box .box-text h4:hover:before {
  width: 100%;
}
.portfolio .portfolio-box .box .box-text p {
  color: #777;
  line-height: 1.6;
  font-size: 13px;
}
/* end portfolio section */
/* start footer */
.footer {
  background-color: var(--main-color);
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 16px;
}
.footer span {
  color: var(--main-colorP);
  font-weight: bold;
}

/* end footer */
